/*================================================================================== boxes ==================================================================== */
.our_range_box {
  border-radius: 10px;
  border: 1px solid #411a68;
  background: rgba(22, 15, 47, 0.5);
  backdrop-filter: blur(9px);
  padding-top: 64px;
  padding-bottom: 80px;
}
/*================================================================================== max width  ==============================================================================*/
.mw_703 {
  max-width: 703px;
}
.mw_177 {
  max-width: 177px !important;
}
/*===================================================================================== height ============================================================================ */
.h_291 {
  height: 291px;
}
/*==================================================================================== line height ======================================================================= */
.lh_normal {
  line-height: normal;
}
/*=================================================================================== left top bottom right =============================================================== */
.bottom_0 {
  bottom: 0;
}
.left_20 {
  left: 20px;
}
.right_30 {
  right: 30px;
}
.top_0 {
  top: 0;
}
/*================================================================================ animations ======================================================================== */
.animation_stem {
  animation: stem 3s linear infinite alternate;
}
@keyframes stem {
  0% {
    filter: brightness(0px);
    transform: scale(0.5);
  }
  100% {
    filter: brightness(-50px);
    transform: scale(1.1);

  }
}
/*==================================================================================== transisation  =====================================================================*/
.transisation {
  transition: all 0.2s linear !important;
}
