.btn_all {
    padding: 14px 34px;
    border-radius: 40px;
    background: var(--linear, linear-gradient(132deg, #AA1FFE 0%, #DD22E6 100%));
    line-height: normal;
}

.about_back {
    background: linear-gradient(180deg, #07031D 0%, rgba(7, 3, 29, 0.17) 52.08%, #07031D 100%), radial-gradient(71.76% 38.00% at 77.08% 57.34%, rgba(50, 0, 81, 0.00) 0%, rgba(51, 0, 83, 0.83) 90.95%), linear-gradient(0deg, #22002D 0%, #22002D 100%), lightgray -2.255px -82.369px / 122.354% 154.154% no-repeat;
    background-blend-mode: normal, normal, hue, normal;
    background-image: url(../src/assets/img/webp/about_back.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.back_card {
    border-radius: 10px;
    backdrop-filter: blur(9px);

}

.border_about::after {
    content: '';
    position: absolute;
    top: 2%;
    left: 0;
    height: 95%;
    border-left: 3px solid var(--color-clr_purple);
}

/* toronto */
::marker {
    color: var(--color-clr_purple) !important;
}

.max_w_630 {
    max-width: 630px;
}

.list_style {
    list-style-type: disc !important;
}

.toronto_card {

    border-radius: 10px;
    border: 1px solid var(--color-clr_dark_blur);
    backdrop-filter: blur(9px);
}

.toronto_l {
    bottom: 8%;
    left: 39%;
}

.toronto_r {
    bottom: 20%;
    right: 6%;
}

/*  */
.max_w_800 {
    max-width: 800px;
}

/* canada */
.max_w_980 {
    max-width: 980px;
}

.canada_border {
    transition: all 0.5 linear;
}

.canada_border:hover svg path {
    fill: var(--color-clr_white) !important;
}

.canada_border {
    border-radius: 28.051px;
    border: 1.169px solid var(--color-clr_dark_blur);
    backdrop-filter: blur(6.5px);
}

.canada_bg {
    background-image: url(../src/assets/img/png/canada_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.canada_gradient {
    background: linear-gradient(180deg, #07031D 10%, rgba(7, 3, 29, 0.53) 50%);
    width: 100%;
    height: 100%;
    top: 0%;
    opacity: 0.9;
}

.mt_-1 {
    margin-top: -1px;
}

.text_circle {
    top: -15px;
    left: 58px;
}

.canada_m {
    margin-top: -50px !important;
}

.canada_1 {
    transform: translateY(-70px) !important;
}

.visible_slider .splide__track {
    overflow: visible !important;
}

/* same */
.same_back_effect {
    height: 230px;
    width: 230px;
    border-radius: 331.012px;
    background: #9F00FF;
    filter: blur(121.9757080078125px);
    left: 100px !important;
    top: 70px;
}

/* feel */
.feel_back {
    border-radius: 10px;
    border: 1px solid var(--color-clr_dark_blur);
    background: rgba(22, 15, 47, 0.50);
    backdrop-filter: blur(9px);
}

.pointer {
    cursor: pointer;
}

.input_border {
    border-radius: 4px;
    border: 2px solid var(--color-clr_dark_blur) !important;
    backdrop-filter: blur(9px);
}

.h_100 {
    height: 100px;
}

::placeholder {
    color: var(--color-clr_white) !important;
    font-family: Montserrat !important;
    font-size: var(--fs-md) !important;
    font-weight: 400 !important;
    opacity: 4 !important;
}

.lh_105 {
    line-height: 105.971%;
}

.input_hover:hover img {
    transform: translateX(-10px);
}

@media (min-width:1200px) {
    .grid_gap {
        gap: 2%;
        grid-template-columns: auto;
    }

    .about_1 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .about_2 {
        grid-column: 3/4;
        grid-row: 1/4;
    }

    .about_3 {
        grid-column: 1/3;
        grid-row: 3/5;
    }

    .about_4 {
        grid-column: 3/4;
        grid-row: 4/7;
    }

    .about_5 {
        grid-column: 2/3;
        grid-row: 5/8;
    }
}

@media (max-width:1200px) {
    .grid_gap {
        gap: 2%;
        grid-template-columns: auto;
    }

    .about_1 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .about_2 {
        grid-column: 3/4;
        grid-row: 1/4;
    }

    .about_3 {
        grid-column: 1/3;
        grid-row: 3/5;
    }

    .about_4 {
        grid-column: 3/4;
        grid-row: 4/7;
    }

    .about_5 {
        grid-column: 2/3;
        grid-row: 5/8;
    }
}

@media (max-width:400px) {
    .grid_gap {
        gap: 2%;
        grid-template-columns: auto;
    }

    .about_1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .about_2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .about_3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .about_4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .about_5 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
}